@page "/bundesliga"
<h3>Bundesliga</h3>
<br />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100">Tabela</button>
    </div>
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100">Mecze</button>
    </div>
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100">Strzelcy</button>
    </div>
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100">Typy</button>
    </div>
  </div>
</div>

@code {

}
