@page "/bundesliga"
@rendermode InteractiveServer

<h3>Bundesliga</h3>
<br />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100" @onclick="OnTabelaClick">Tabela</button>
    </div>
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100" @onclick="OnMeczeClick">Mecze</button>
    </div>
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100" @onclick="OnStrzelcyClick">Strzelcy</button>
    </div>
    <div class="col-6 col-sm-3 mb-2">
      <button class="btn btn-primary w-100" @onclick="OnTypyClick">Typy</button>
    </div>
  </div>
</div>
<p>Wybrano @mojTekst</p>

<table class="table table-striped table-bordered table-hover" style="display: @tabelaDisplay;">
    <caption>Bundesliga 2023/2024</caption>
    <thead class="table-dark">
        <tr class="text-center">
            <th>Miejsce</th>
            <th>Klub</th>
            <th>Punkty</th>
            <th>Mecze</th>
            <th>Wygrane</th>
            <th>Remisy</th>
            <th>Przegrane</th>
            <th>Bramki</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bayern Monachium</td>
            <td>70</td>
            <td>30</td>
            <td>22</td>
            <td>4</td>
            <td>4</td>
            <td>80:30</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Borussia Dortmund</td>
            <td>65</td>
            <td>30</td>
            <td>20</td>
            <td>5</td>
            <td>5</td>
            <td>75:35</td>
        </tr>
        <tr>
            <td>3</td>
            <td>RB Lipsk</td>
            <td>60</td>
            <td>30</td>
            <td>18</td>
            <td>6</td>
            <td>6</td>
            <td>70:40</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Eintracht Frankfurt</td>
            <td>55</td>
            <td>30</td>
            <td>16</td>
            <td>7</td>
            <td>7</td>
            <td>65:45</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Bayer Leverkusen</td>
            <td>50</td>
            <td>30</td>
            <td>15</td>
            <td>5</td>
            <td>10</td>
            <td>60:50</td>
        </tr>
    </tbody>


</table>

<table class="table table-striped table-bordered table-hover" style="display: @strzelcyDisplay;">
    <caption>Strzelcy</caption>
    <thead class="table-dark">
        <tr class="text-center">
            <th>Lp.</th>
            <th>Imię i nazwisko</th>
            <th>Klub</th>
            <th>Bramki</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Robert Lewandowski</td>
            <td>Bayern Monachium</td>
            <td>25</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Erling Haaland</td>
            <td>Borussia Dortmund</td>
            <td>22</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Timo Werner</td>
            <td>RB Lipsk</td>
            <td>20</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Sebastian Haller</td>
            <td>Eintracht Frankfurt</td>
            <td>18</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Carlos Vinicius</td>
            <td>Bayer Leverkusen</td>
            <td>15</td>
        </tr>
    </tbody>
</table>
@code {
    private string mojTekst = "";
    private string tabelaDisplay = "none;";
    private string strzelcyDisplay = "none;";

    private void OnTabelaClick()
    {
        mojTekst = "Tabela";
        tabelaDisplay = "block;";
        strzelcyDisplay = "none;";
    }

    private void OnMeczeClick()
    {
        mojTekst = "Mecze";
        tabelaDisplay = "none;";
        strzelcyDisplay = "none;";
    }

    private void OnStrzelcyClick()
    {
        mojTekst = "Strzelcy";
        tabelaDisplay = "none;";
        strzelcyDisplay = "block;";
    }

    private void OnTypyClick()
    {
        mojTekst = "Typy";
        tabelaDisplay = "none;";
        strzelcyDisplay = "none;";
    }
}
